body
{
    background-color: rgb(166, 166, 196);
}

#h11
{
    color:red;
    text-align: center;
    font:bold;
    font:italic;
}

#h21
{
    color:rgb(128,0,0);
    text-align:center;
    font:bold;
    font:italic;
}
